//
// Header Menu //
//
.header-wrapper {
	position: relative;
	.container {
		position: relative;
		@include display-flex;
		align-items: center;
		height: 72px;
	}

	// Nav //
	.header-nav {
		z-index: 996;
		position: fixed;
		top: 0;
		background: $white-90;
		height: 72px;
		width: auto;
		backdrop-filter: blur(10px);
		@include box-shadow(0 8px 34px 0 rgba(22,24,26,0.08));
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		.nav-list {
			margin: 0;
			padding: 0;
			font-size: 0.9em;
			font-weight: 500;
			font-family: $font-family-secondary;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			.nav-list-item {
				list-style-type: none;
				a {
					color: $charcoal;
				}
			}
		}
	}

	// Logo //
	.header-logo {
		position: absolute;
		top: 50%;
		right: 30px;
		@include transform(translateY(-50%));
		max-height: 70px;
		* {
			margin: 0;
		}
		img {
			max-height: 50px;
		}
	}
}

//
// Desktop //
//
@include breakpoint-above(lg) {
	.header-wrapper {
		height: 72px;

		// Nav //
		.header-nav {
			padding: 0 30px;
			@include display-flex;
			align-items: center;
			.nav-list {
				.nav-list-item {
					display: inline-block;
					padding-left: 18px;
					&:first-child {
						padding-left: 0;
					}
					a {
						z-index: 1;
						position: relative;
						&:before {
							content: '';
							position: absolute;
							right: 0;
							bottom: -1px;
							left: 0;
							background: black;
							height: 1px;
							@include animation(line-out 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) both);
						}
						&:hover {
							color: black;
							&:before {
							width: 100%;
							@include animation(line-in 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) both);
							}
						}
					}
				}
			}
		}
		// Nav Toggle //
		.nav-toggle {
			display: none;
		}

		// Toggle Menu //
		.toggle-menu {
			position: absolute;
			top: 80px;
			left: 0;
			@include transform(translateY(-8px) scale(0.98));
			visibility: hidden;
			opacity: 0;
			background: white;
			width: 300px;
			padding: 30px;
			border-radius: 20px;
			@include box-shadow(0 8px 34px 0 rgba(22,24,26,0.08));
			@include transition(linear 0.1s);
			&.show {
				visibility: visible;
				opacity: 1;
				@include transform(translateY(0) scale(1));
			}
		}
	}
}

//
// Menu Toggle //
//
.toggle-menu-btn {
	display: inline-flex;
	margin-right: 24px;
	span {
		position: relative;
		display: block;
		width: 20px;
		height: 14px;
		&:before, 
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 20px;
			height: 4px;
			border-radius: 3px;
			border: 1px solid $charcoal;
			@include transition(linear 0.06s);
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
	&:hover, &.active {
		span {
			&:before, &:after {
				background: $charcoal;
			}
		}
	}
}

//
// Mobile //
//
@include breakpoint-less(md) {
	.toggle-menu, 
	.toggle-menu-btn {
		display: none;
	}
	.header-wrapper {
		.container {
			height: 56px;
		}
		.header-nav {
			height: 56px;
			// Nav Toggle //
			.nav-toggle {
				display: inline-block;
				width: 58px;
				height: 56px;
				text-align: center;
				span {
					position: relative;
					display: inline-block;
					width: 20px;
					height: 14px;
					&:before, 
					&:after {
						content: '';
						position: absolute;
						left: 0;
						width: 20px;
						height: 4px;
						border: 1px solid $charcoal;
						@include transition(linear 0.06s);
					}
					&:before {
						top: 0;
					}
					&:after {
						bottom: 0;
					}
				}
				&:hover, &.active {
					span {
						&:before, &:after {
							background: $charcoal;
						}
					}
				}
			}
			// Nav //
			.nav-list {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: 64px;
				background: white;
				min-width: 200px;
				padding: 24px;
				border-radius: 20px;
				@include transition(linear 0.1s);
				&.show {
					visibility: visible;
					opacity: 1;
				}
				li {
					margin-bottom: 8px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.header-logo {
			max-height: 56px;
			img {
				max-height: 42px;
			}
		}
	}
}

.theme-dark {
	.header-wrapper {
		.header-nav {
			background: $charcoal;
			.nav-list {
				.nav-list-item {
					a {
						color: white;
					}
				}
			}
		}
		.toggle-menu {
			background: $charcoal;
		}
	}
	.toggle-menu-btn {
		span {
			&:before, 
			&:after {
				border-color: white;
			}
		}
		&:hover, &.active {
			span {
				&:before, &:after {
					background: white;
				}
			}
		}
	}
	@include breakpoint-above(lg) { 
		.header-wrapper {
			.header-nav {
				.nav-list {
					.nav-list-item {
						a {
							color: white;
							&:before {
								background: white;
							}
							&:hover {
								color: white;
							}
						}
					}
				}
			}
		}
	}
	@include breakpoint-less(md) { 
		.header-wrapper {
			.header-nav {
				.nav-toggle {
					span {
						&:before, 
						&:after {
							border-color: white;
						}
					}
					&:hover, &.active {
						span {
							&:before, &:after {
								background: white;
							}
						}
					}
				}
				.nav-list {
					background: $charcoal;
				}
			}
		}
	}
}